affine==2.3.0; python_version >= "3.7"
aiohttp==3.8.1; python_version >= "3.6"
aiosignal==1.2.0; python_version >= "3.6"
appnope==0.1.2; platform_system == "Darwin" and python_version >= "3.8" and sys_platform == "darwin"
apptools==5.1.0; python_version >= "3.6"
argon2-cffi-bindings==21.2.0; python_version >= "3.7"
argon2-cffi==21.3.0; python_version >= "3.7"
asttokens==2.0.5; python_version >= "3.8"
async-timeout==4.0.2; python_version >= "3.6"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
backcall==0.2.0; python_version >= "3.8"
beautifulsoup4==4.10.0; python_full_version > "3.0.0" and python_version >= "3.6"
bleach==4.1.0; python_version >= "3.7"
bokeh==2.4.2
cartopy @ https://github.com/SciTools/cartopy/archive/refs/tags/v0.19.0.post1.zip ; python_version >= "3.5"
certifi==2021.10.8; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
cffi==1.15.0; platform_python_implementation == "PyPy" and python_version >= "3.7" and python_full_version >= "3.6.1" and implementation_name == "pypy"
cfgrib==0.9.10.0; python_version >= "3.6"
cftime==1.5.2; python_version >= "3.7"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.6"
click-plugins==1.1.1; python_version >= "3.7"
click==8.0.4; python_version >= "3.8" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.7")
cligj==0.7.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.7"
cloudpickle==2.0.0
colorama==0.4.4; python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.5.0" and platform_system == "Windows"
colorcet==3.0.0; python_version >= "3.7"
colorlog==6.6.0; python_version >= "3.6"
configobj==5.0.6; python_version >= "3.7"
cycler==0.11.0; python_version >= "3.7"
dask==2022.2.1; python_version >= "3.8"
datashader==0.13.0; python_version >= "3.7"
datashape==0.5.2; python_version >= "3.7"
debugpy==1.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
decorator==5.1.1; python_version >= "3.8"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.5.0"
distributed==2022.2.1
docopt==0.6.2; python_version >= "3.6"
eccodes==1.4.0; python_version >= "3.6"
entrypoints==0.4; python_full_version >= "3.6.1" and python_version >= "3.7"
envisage==6.0.1; python_version >= "3.6"
executing==0.8.3; python_version >= "3.8"
f90nml==1.3.1
findlibs==0.0.2; python_version >= "3.6"
fiona==1.8.21; python_version >= "3.7"
fonttools==4.29.1; python_version >= "3.7"
frozenlist==1.3.0; python_version >= "3.7"
fsspec==2022.2.0
gdal==3.2.1
geopandas==0.10.2; python_version >= "3.7"
geoviews==1.9.4; python_version >= "3.7"
gmsh==4.9.5
heapdict==1.0.1; python_version >= "3.8"
holoviews==1.14.8; python_version >= "2.7"
hvplot==0.7.3; python_version >= "2.7"
idna==3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
importlib-metadata==4.11.2; python_version < "3.10" and python_version >= "3.7"
importlib-resources==5.4.0; python_version < "3.9" and python_version >= "3.7"
ipydatawidgets==4.2.0
ipykernel==6.9.1; python_version >= "3.7"
ipympl==0.8.8
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==8.10.0; python_version >= "3.8"
ipywidgets==7.6.5; python_version >= "3.7"
itk-core==5.2.1.post1
itk-filtering==5.2.1.post1
itk-meshtopolydata==0.7.1
itk-numerics==5.2.1.post1
itkwidgets==0.32.1
jedi==0.18.1; python_version >= "3.8"
jinja2==3.0.3
jsonschema==4.4.0; python_version >= "3.7"
jupyter-client==7.1.2; python_full_version >= "3.7.0" and python_version >= "3.7"
jupyter-console==6.4.0; python_version >= "3.7"
jupyter-core==4.9.2; python_full_version >= "3.6.1" and python_version >= "3.7"
jupyter==1.0.0; python_version >= "3.7"
jupyterlab-pygments==0.1.2; python_version >= "3.7"
jupyterlab-widgets==1.0.2; python_version >= "3.7"
kiwisolver==1.3.2; python_version >= "3.7"
llvmlite==0.36.0; python_version >= "3.6" and python_version < "3.10"
locket==0.2.1; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
markdown==3.3.6; python_version >= "3.7"
markupsafe==2.1.0; python_version >= "3.8"
matplotlib-inline==0.1.3; python_version >= "3.8"
matplotlib==3.5.1; python_version >= "3.7"
mayavi==4.7.4
mistune==0.8.4; python_version >= "3.7"
msgpack==1.0.3; python_version >= "3.8"
multidict==6.0.2; python_version >= "3.7"
multipledispatch==0.6.0; python_version >= "3.7"
munch==2.5.0; python_version >= "3.7"
nbclient==0.5.11; python_version >= "3.7" and python_full_version >= "3.7.0"
nbconvert==6.4.2; python_version >= "3.7"
nbformat==5.1.3; python_version >= "3.7" and python_full_version >= "3.7.0"
nest-asyncio==1.5.4; python_full_version >= "3.7.0" and python_version >= "3.7"
netcdf4==1.5.8
notebook==6.4.8; python_version >= "3.7"
numba==0.53.1; python_version >= "3.6" and python_version < "3.10"
numpy==1.22.2; python_version >= "3.8"
packaging==21.3
pandas==1.4.1; python_version >= "3.8"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.4.0"
panel==0.12.6; python_version >= "3.7"
param==1.12.0; python_version >= "3.7"
parso==0.8.3; python_version >= "3.8"
partd==1.2.0
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.8"
pickleshare==0.7.5; python_version >= "3.8"
pillow==9.0.1
prometheus-client==0.13.1; python_version >= "3.7"
prompt-toolkit==3.0.28; python_full_version >= "3.6.2" and python_version >= "3.8"
psutil==5.9.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.8" and os_name != "nt"
pure-eval==0.2.2; python_version >= "3.8"
py==1.11.0; python_full_version >= "3.6.1" and python_version >= "3.7" and implementation_name == "pypy"
pyarrow==7.0.0; python_version >= "3.7"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" and platform_python_implementation == "PyPy" or platform_python_implementation == "PyPy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pyct==0.4.8; python_version >= "3.7"
pydap @ https://github.com/pydap/pydap/archive/refs/tags/3.3.0.zip ; python_version >= "3.6"
pyface==7.4.1; python_version >= "3.6"
pygeos @ https://github.com/pygeos/pygeos/releases/download/0.12.0/pygeos-0.12.0.tar.gz ; python_version >= "3.6"
pygments==2.11.2; python_version >= "3.8"
pykdtree==1.3.4; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pyparsing==3.0.7
pyproj==3.3.0; python_version >= "3.8"
pyresample==1.22.3; python_version >= "3.7"
pyrsistent==0.18.1; python_version >= "3.7"
pyshp==2.2.0; python_version >= "3.7"
python-dateutil==2.8.2; python_full_version >= "3.6.1" and python_version >= "3.8" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.3.0")
python-snappy==0.6.1; python_version >= "3.6"
pytz==2021.3; python_version >= "3.8"
pyviz-comms==2.1.0; python_version >= "3.7"
pywin32==303; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_full_version >= "3.6.1" and python_version >= "3.7"
pywinpty==2.0.2; python_version >= "3.7" and os_name == "nt"
pyyaml==6.0
pyzmq==22.3.0; python_full_version >= "3.6.1" and python_version >= "3.7"
qtconsole==5.2.2; python_version >= "3.7"
qtpy==2.0.1; python_version >= "3.7"
rasterio==1.2.10; python_version >= "3.6"
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
retrying==1.3.3; python_version >= "3.6"
rioxarray==0.9.1; python_version >= "3.7"
scipy==1.8.0; python_version >= "3.8" and python_version < "3.11"
send2trash==1.8.0; python_version >= "3.7"
setuptools-scm==6.4.2; python_version >= "3.7"
shapely @ https://github.com/shapely/shapely/archive/refs/tags/1.7.1.zip
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
snuggs==1.4.7; python_version >= "3.7"
sortedcontainers==2.4.0; python_version >= "3.8"
soupsieve==2.3.1; python_full_version > "3.0.0" and python_version >= "3.6"
spatialpandas==0.4.3; python_version >= "3.6"
stack-data==0.2.0; python_version >= "3.8"
tblib==1.7.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_version >= "3.8" and python_full_version >= "3.5.0"
terminado==0.13.1; python_version >= "3.7"
testpath==0.6.0; python_version >= "3.7"
tomli==1.2.3; python_version >= "3.7"
toolz==0.11.2
tornado==6.1
tqdm==4.63.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
traitlets==5.1.1; python_full_version >= "3.7.0" and python_version >= "3.8"
traits==6.3.2; python_version >= "3.6"
traitsui==7.2.1; python_version >= "3.6"
traittypes==0.2.1
typing-extensions==4.1.1; python_version >= "3.8"
urllib3==1.26.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
vtk==9.1.0
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.8"
webencodings==0.5.1; python_version >= "3.7"
webob==1.8.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
widgetsnbextension==3.5.2; python_version >= "3.7"
wslink==1.4.1
xarray==0.21.1; python_version >= "3.8"
yarl==1.7.2; python_version >= "3.6"
zict==2.1.0; python_version >= "3.8"
zipp==3.7.0; python_version < "3.9" and python_version >= "3.7"
zstandard==0.17.0; python_version >= "3.6"
